.contactForm {
    outline: 2px solid black;
    width: 250px;
    /* height: 200px; */
    /* margin-right: auto; */
    margin-left: 10px;
    padding: 20px;
    background-color: violet;
  }
  
  .labelForm {
    display: block;
    margin-right: 20px;
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 18px;
  }
  
  .inputForm {
    display: block;
    margin-right: 20px;
    /* margin-left: 20px; */
    background-color:bisque;
  }
  
  .buttonForm {
    padding: 8px;
    border-radius: 5px;
    /* background-color:darkmagenta; */
  }